html, body, #root, .App {
    height: 100%;
}

.landing-page {
    display: flex;
    flex-direction: column;
    
    height: 100%;

    background-color: #DCFFEA;
}


.landing-page>main {
    background-image: url('./static/LandingPageBackground.png');

    background-size: cover;

    height: 100%;

    display: flex;
    flex-direction: column;
    
    align-items: center;

    padding: 150px 0;

    gap: 40px;
}

main>h1 {
    font-size: 4.0em;
}

main>a>button {
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    margin-top: 5%;    

    background-color: #000000;
    color: #ffffff;

    font-size: 30px;
    font-weight: 600;
}

main>a>button:hover {
    cursor: pointer;
    background-color: #3f3f3f;
}