header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 75px;
  background-color: #58AC89;
}

header>a:hover {
  cursor: pointer;
}

header>a>h2 {
  color: #ffffff;
  font-size: 2.0em;
  font-weight: 400;
}

.spotify-text {
  font-weight: 700;
}